.product-name {
  height: 2.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.rating svg {
  color: rgb(255, 153, 0);
  margin: 0.1rem;
}

.rating-text {
  font-weight: 600;
  font-size: 0.8rem;
  padding-left: 0.2rem;
}
